.body-Sun {
	-fx-fill: sienna;
}

.planet-orbit-path {
	-fx-fill: transparent;
	-fx-stroke: darkgrey;
}

.body-Spaceship {
	-fx-fill: yellow;
}

.body-Moon {
	-fx-fill: #AF94A3;
}

.body-Mercury {
    -fx-fill: #A8778C;
}
 
.body-Venus {
    -fx-fill: #AC8697;
}
 
.body-Earth {
    -fx-fill: #AF94A3;
}
 
.body-Mars {
    -fx-fill: #B3A3AE;
}

.body-Jupiter {
    -fx-fill: #B6B2BA;
}

.body-Saturn {
    -fx-fill: #BAC1C5;
}

.body-Neptune {
    -fx-fill: #BDCFD1;
}

.body-Uranus {
    -fx-fill: #C1DEDC;
}