.body-sun {
	-fx-fill: sienna;
}

.planet-orbit-path {
	-fx-fill: transparent;
	-fx-stroke: darkgrey;
}

.body-mercury {
    -fx-fill: #A8778C;
}
 
.body-venus {
    -fx-fill: #AC8697;
}
 
.body-earth {
    -fx-fill: #AF94A3;
}
 
.body-mars {
    -fx-fill: #B3A3AE;
}

.body-jupiter {
    -fx-fill: #B6B2BA;
}

.body-saturn {
    -fx-fill: #BAC1C5;
}

.body-neptune {
    -fx-fill: #BDCFD1;
}

.body-uranus {
    -fx-fill: #C1DEDC;
}