.planet-orbit-path {
	-fx-fill: transparent;
	-fx-stroke: darkgrey;
}

.spacecraft-path {
    -fx-fill: transparent;
	-fx-stroke: orange;
}

.spacecraft {
	-fx-fill: yellow;
}

.body-Sun {
	-fx-fill: sienna;
}

.body-Mercury {
    -fx-fill: #DBD4A0;
}
 
.body-Venus {
    -fx-fill: #CC9B5C;
}
 
.body-Earth {
    -fx-fill: #5EAFD1;
}
 
.body-Mars {
    -fx-fill: #B86D4D;
}

.body-Jupiter {
    -fx-fill: #D4A474;
}

.body-Saturn {
    -fx-fill: #E0D384;
}

.body-Uranus {
    -fx-fill: #8FC8CF;
}

.body-Neptune {
    -fx-fill: #6D6CA1;
}

.body-Pluto {
    -fx-fill: #AD998E;
}

.body-Moon, .body-Phobos, .body-Adrastea, .body-Metis, .body-Pan, .body-Miranda, .body-Naiad, .body-Charon {
	-fx-fill: #E1D8ED;
}

.body-Deimos, .body-Ariel, .body-Thalassa, .body-Despina, .body-Io, .body-Europa, .body-Ganymede, .body-Callisto {
    -fx-fill: #DED8EB;
}

.body-Umbriel, .body-Galatea, .body-Amalthea, .body-Thebe, .body-Leda {
    -fx-fill: #DAD8E9;
}

.body-Titania, .body-Larissa, .body-Himalia, .body-Lysithea, .body-Elara {
    -fx-fill: #D7D8E6;
}

.body-Oberon, .body-Proteus, .body-Mimas, .body-Enceladus, .body-Tethys, .body-Dione, .body-Rhea {
    -fx-fill: #D3D8E4;
}

.body-Triton, .body-Titan, .body-Hyperion, .body-Iapetus,  .body-Daphnis {
    -fx-fill: #D0D8E2;
}

.body-Atlas, .body-Prometheus, .body-Pandora, .body-Epimetheus, .body-Janus {
    -fx-fill: #CCD8E0;
}

.body-Calypso, .body-Telesto, .body-Helene {
     -fx-fill: #C9D8DD;
 }