.root {
     -fx-background-image: url("../img/stars.jpg");
}

.button {
    -fx-text-fill: white;
    -fx-background-color: #434343;
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.route_label {
	-fx-text-fill: black;
}

.controlPane {
    -fx-background-color: #fff;
}