.root {
     -fx-background-image: url("../img/stars.jpg");
     -fx-background-size: contain;
}

.button {
    -fx-text-fill: white;
    -fx-background-color: #434343;
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.route_label {
	-fx-text-fill: black;
}

.completeMsg {
	-fx-text-fill: white;
}

.controlPane {
    -fx-background-color: #fff;
}

.sourcePane {
    -fx-background-image: url("../img/stars.jpg");
    -fx-background-size: contain;
    -fx-border-color: white;
    -fx-border-width: 1px;
}

.destPane {
    -fx-background-image: url("../img/stars.jpg");
    -fx-background-size: contain;
    -fx-border-color: white;
    -fx-border-width: 0px 1px 1px 1px;
}

.journeyDialog {
	-fx-background-image: url("../img/stars.jpg");
    -fx-background-size: contain;
    -fx-border-color: white;
    -fx-border-width: 1px;
}