.root {
     -fx-background-image: url("../img/stars.jpg");
     -fx-background-size: contain;
}

.button {
    -fx-background-color:
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 6 15 6 15;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.button Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
}

.button:hover {
    -fx-background-color: #000000, linear-gradient(#5e5e5e, #383838);
}

#centerButton {
    -fx-background-image: url("../img/center.png");
    -fx-background-size: 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

#undoButton {
    -fx-background-image: url("../img/undo.png");
    -fx-background-size: 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

#unfocusFrame {
    -fx-background-image: url("../img/levelup.png");
    -fx-background-size: 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

#slowButton {
    -fx-background-image: url("../img/rewind.png");
    -fx-background-size: 14 14;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

#speedButton {
    -fx-background-image: url("../img/fastforward.png");
    -fx-background-size: 14 14;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

#confirmButton {
    -fx-background-image: url("../img/ok.png");
    -fx-background-size: 13 13;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

.route_label {
	-fx-fill: white;
}

.routeList {
    -fx-highlight-fill: #fff;
    -fx-text-fill: #fff;
    -fx-highlight-text-fill: #222;
    -fx-background-color: #222;
}

.routeList .content {
    -fx-background-color: #222;
}

.completeMsg {
	-fx-text-fill: white;
	-fx-font: 34px sans-serif;
}

.route_stage {
    -fx-text-fill: white;
    -fx-font: 16px sans-serif;
}

.controlPane {
    -fx-background-color: #222;
}

.controlPane Text {
    -fx-text-fill: white;
}

.sourcePane {
    -fx-background-image: url("../img/stars.jpg");
    -fx-background-size: contain;
    -fx-border-color: #222;
    -fx-border-width: 0px 0px 3px 3px;
}

.destPane {
    -fx-background-image: url("../img/stars.jpg");
    -fx-background-size: contain;
    -fx-border-color: #222;
    -fx-border-width: 0px 0px 3px 3px;
}

.journeyDialog {
	-fx-background-image: url("../img/stars.jpg");
    -fx-background-size: contain;
    -fx-border-color: #222;
    -fx-border-width: 1px;
}