/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
    -fx-background-color: radial-gradient(center 50% 50%, radius 60%, reflect, #172A30, black );
}

.sun {
	-fx-fill: sienna;
}

.planet-orbit-path {
	-fx-fill: transparent;
	-fx-stroke: darkgrey;
}

.planet-mercury {
    -fx-fill: #A8778C;
}
 
.planet-venus {
    -fx-fill: #AC8697;
}
 
.planet-earth {
    -fx-fill: #AF94A3;
}
 
.planet-mars {
    -fx-fill: #B3A3AE;
}

.planet-jupiter {
    -fx-fill: #B6B2BA;
}

.planet-saturn {
    -fx-fill: #BAC1C5;
}

.planet-neptune {
    -fx-fill: #BDCFD1;
}

.planet-uranus {
    -fx-fill: #C1DEDC;
}